body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: black;
    color: beige;
    font-size: 14px;
}

h1 {
    color: #fff;
}

.game {
    margin-top: 20px;
    border: solid 1px #fff;
}

.choice {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.result {
    margin-top: 20px;
    font-size: 24px;
}